body{
    background-color: rgb(212, 212, 212);
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif
}

main{
    display: flex;
    flex-direction: row;
}

div{
    display: flex;
    flex-direction: row;
}

img{
    height: 20em;
    width: 20em;
}

h2{
    margin: 0;
    margin-bottom: 1em;
}

h3{
    margin: 0;
    margin-bottom: 1em;
    color: rgb(243, 81, 186);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    margin-bottom: 1.5em;
    border-radius: 1.5em;
    border-style: none;
    background-color: rgb(232, 232, 232);
    height: 2.5em;
    width: 15em;
    padding: 0em 1em 0em 1em;
}

.center-display{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-login{
    height: 30em;
    width: 20em;
    background-color: blueviolet;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.main-cad{
    height: 30em;
    width: 20em;
    background-color: white;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em; 
    flex-direction: column;
}

.btn-active {
    background-color: rgb(243, 81, 186);
    color: white;
}

.btn-inactive {
    background-color: rgb(212, 212, 212);
    color: black;
}

.hidden{
    display: none;
}

#section-button{
    background-color: rgb(212, 212, 212);
    border-radius: 1.5em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}

#btn-open{
    background-color: rgb(243, 81, 186);
    color: white;
    font-weight: bold;
    border-radius: 1.5em;
    border-style: none;
    height: 2.5em;
    width: 7em;
}


#btn-open,
#btn-register,
#btn-enviar {
    transition: background-color 0.3s, color 0.3s;
    background-color: rgb(243, 81, 186);
    color: white;
    font-weight: bold;
    border-radius: 1.5em;
    border-style: none;
    height: 2.5em;
    width: 7em;
}

#btn-register {
    background-color: rgb(212, 212, 212);
    color: black;
}

#btn-register:active {
    background-color: rgb(243, 81, 186);
    color: white;
}

@media (max-width: 650px) {
    .img-login{
        display: none;
    }

    .main-cad{
        border-radius: 2em;
    }
}